{{#if users}} {{!-- Checks for the existance of "users" --}}
    <ul>
        {{#each users}} {{!-- Displays all users in a list --}}
        <li>{{this}}</li>
        {{/each}}
        {{else}} {{!-- If no users then create paragraph: "No Users" --}}
        <p>No Users</p>
    </ul>
{{/if}}
