{{!-- all other pages use layout.hbs as the default layout --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Node and Express</title>
</head>
<body style="background-color: beige">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h1>{{heading}}</h1>
    {{{body}}}
</body>
</html>